h1,
p,
div {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.chat-window {
  background-color: rgb(224, 246, 253);
  padding: 10px;
  min-height: 100vh;
}
.banner {
  background: rgb(8, 115, 238);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.2rem;
  padding: 10px;
  color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1;
}
.message {
  /* border: 1px solid white; */
  border-radius: 0.5rem;
  padding: 10px;
  width: 30%;
  margin-bottom: 30px;
}
.message-head {
  font-size: 10px;
  text-align: start;
}
.message-body {
  padding: 10px;
  background: rgb(8, 115, 238);
  border-radius: 1rem 0;
  color: white;
  overflow-wrap: break-word;
}
.message-foot {
  font-size: 8px;
  text-align: end;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.send-button {
  border: 1px solid black;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  background: rgb(8, 115, 238);
  color: white;
  border-radius: 0 0.5rem 0.5rem 0;
}
.text-area {
  border-radius: 0.5rem 0.5rem 0;
  border: 1px solid rgb(255, 255, 255);
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
